{% extends 'users/base.html' %}

{% block content %}

<br><br>
<h1>Login into your account</h1>
<div class="form-group">
    <form action="" method="post">
        <br><br>
        {% csrf_token %}
        <div class="mb-3">
        
            <input class="form-control" name="username" placeholder="Username">
          </div>
          
          <div class="mb-3">
            
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
        
        {% if login_form.non_field_errors %}
        <ul class='form-errors' style="list-style: none;">
        {% for error in login_form.non_field_errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        
        <button class="btn btn-secondary">Login</button>
    </form>
</div>  


{% endblock %}